#blue{
	width:100%px;
	height:200px;
	border: solid #0052CC;
	background:#3083FF;
	
	
}
#green{
	width:150px;
	height:150px;
	border: solid #33CC33;
	background:#5CD65C;
	float:left;
	
}
#green2{
	width:150px;
	height:150px;
	border: solid #33CC33;
	background:#5CD65C;
	float:right;
	
}